@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:black;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1800px;
    width: 100%;
    overflow-x: hidden;
}

section {
    padding: 0 32px;
}

.purple {
    color: #5e0df6;
}

main {
    margin-bottom: 96px;
}

li {
    list-style-type: none;
}

/*
 
NAVIGATION

*/

nav {  
    display: flex;
    padding-top: 32px;
}

.nav__row {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.nav__logo--img {
    width: 40px;
    margin-right: 14px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: .6px;
}

.nav__link {
    font-size: 14px;
    text-decoration: none;
    letter-spacing: .35px;
    margin: 0 24px;
    font-weight: 600;
    color: rgb(59, 55, 55);
}

.nav__link:hover {
    text-decoration: underline;
    text-underline-offset: 50%;
    color:#5e0df6;
    transition: all 300ms ease-in-out;
}

.nav__links {
    display: flex;
    align-items: center;
}

    
.nav__link--primary {
    background-color: #5e0df6;
    border-radius: 36px;
    padding: 12px 32px;
    color: white;
    font-size: 14px;
}

.nav__link--primary:hover {
    color:#6f2befb0;
    background-color: #4604c0ee;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}


.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: black;
    display: none;
}

.menu__backdrop {
    position: fixed;
    background-color: white;
    height: 378px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 24px 16px;
    padding: 32px;
    border: 1px solid rgba(229, 231, 235);
    border-radius: 8px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateX(300%);
    transition: all 300ms ease; 
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu--open {
    max-height: 40vh;
    overflow-y: hidden;
}

.menu__links { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    margin: 8px 0;
    padding-bottom:  4px;
}

.menu__link {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}


.nav__link--primary {
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* 

HEADER

*/

header {
    height: calc(100%);
    position: relative;
}

.header__container {
    padding: 96px 0;
}


.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.header__description--title {
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 1px;
}

.header__description {
    width: 41.5%;
}

.header__description--para {
    line-height: 1.5;
    margin: 32px 0;
    font-size: 18px;
    letter-spacing: .4px;
    
}

.header__email {
    border: 2px solid rgba(227, 223, 223, 0.767);
    border-radius: 48px;
    display: flex;
    justify-content: flex-end;
    padding-left: 28px;
    height: 68px;
    width: 100%;
    max-width: 448px;
}

.header__email:hover {
    border: 2px solid;
    transition: all 300ms ease-in-out;
}

.header__email--input {
    border: none;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
}

.header__email--btn {
    background-color: #5e0df6;
    height: calc(100% - 16px);
    width: 250px;
    margin: 8px;
    border: none;
    color: white;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 700;
}

.header__email--btn:hover {
    background-color:#3a0996;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.header__customers--title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 1.5;
    color: rgba(128, 132, 157, 0.767);
    margin-top: 80px;
    z-index: 1;
}

.header__customers {
    width: 100%;
    opacity: 50%;
    margin-top: 16px;
    padding-right: 128px;
}

.header__img--wrapper { 
    width: calc(100% - 41.5%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}   

.header__blob {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.05;
    width: 256px;
    height: 256px;
    transform: matrix(1, 0, 0, 1, -163, 0);
    z-index: 0;
}


/*

FEATURES

*/

#features {
    position: relative;
}

.feature__container {
    padding: 96px 0;
}

.feature__row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__label {
    color:#5e0df6;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.feature__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: .025em;
    margin: 16px 0;
}

.feature__para {
    max-width: 576px;
    line-height: 1.625;
    color: rgba(88, 99, 148, 0.833);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img {
    border: 1px solid rgb(226, 225, 225);
    border-radius: 50%;
    padding: 20px;
    width: 70px;
    height: 70px;
}

.feature__boxes {
    line-height: 2;
    margin-top: 8px;
    margin-left: 16px;
}

.feature__descr--title {
    color: rgb(40, 50, 97);
    font-size: 24px;
}

.feature__description { 
    font-size: 17px;
    font-weight: 500;
    color: rgba(88, 99, 148, 0.833);
    margin-top: 16px;
    max-width: calc(635px / 3);
    letter-spacing: .5px;
}

.features__blob {
    transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: 0.25;
    padding: 16px;
}


/*

QUALITY

*/

.quality__container { 
    padding: 96px 0;
}

.quality__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    width: 50%;
    max-width: 576px;
    margin-right: 64px;
}

.quality__title {
    line-height: 1.5;
    color:rgb(53, 60, 105);
    font-size: 52px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 16px 0;
}
   
.quality__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(161, 162, 168);
}

.quality__btn {
        background-color: #5e0df6;
        padding: 12px 34px;
        border: none;
        color: white;
        border-radius: 48px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 48px;
}

.quality__btn:hover {
    background-color:rgb(77, 18, 194);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.quality__img--wrapper {
    width: 50%;
    margin: 0 56px;
    border: 1px solid rgba(229, 231, 235);
    border-radius: 4px;
    position: relative;
    z-index: 2;
    display: flex;
}

.quality__img {
    width: 100%; 
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/*

STEPS

*/

.steps__container {
    padding: 96px 0;
}

.steps__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    position: relative;
    z-index: 2;
    display: flex;
}

.steps__img {
    width: 100%;
    height: 60%;
    z-index: 2;
}

.steps__grid {
    position: absolute;
    opacity: 0.15;
    right: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    fill: rgba(100, 21, 255);
    z-index: 1;
}

.step__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
}

.steps__title {
    font-size: 48px;
    font-weight: 900;
    margin:16px 0;
    letter-spacing: 2px;
    line-height: 1.5;
    color:rgb(40, 50, 97);
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: bold;
    color: rgba(142, 147, 177, 0.518)
}

.step__description {
    max-width: 320px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.step__title {
    color:rgb(53, 60, 105);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1;
}

.step__para {
    color:rgba(123, 129, 163, 0.767);
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

.values__container {
    padding: 96px 0;
}

.values__row { 
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description { 
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 32px 63px 32px 0;
}

.values__title {
    font-size: 48px;
    font-weight: 900;
    width: 500px;
    margin-top: 16px;
    margin-bottom: 32px;
    letter-spacing: 2px;
    line-height: 1.25;
    color: rgb(40, 50, 97);
}

.value__para {
    color:rgb(139, 144, 164);
    line-height: 1.625;
    font-size: 18px;
}

.value {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.value__boxes {
   display: flex;
   padding: 24px 0px;
  
}
.value__paras {
    color:rgb(139, 144, 164);
    width: 90%;
    line-height: 1.5;
    font-size: 17px;
}

.values__list {
   display: flex; 
}

.values__img {
    width: 100%;
    height: 100%;
    max-height: 650px;
}

.values__img--wrapper {
    width: 50%;
}

.money { 
    background-color: rgba(4, 155, 4, 0.443);
    border-radius: 100%;
    padding: 10px;
    width: 36px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.business {
    background-color: red;
    border-radius: 100%;
    padding:10px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.value__title {
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*

PRICING

*/

.pricing__container {
    padding: 96px 0;
}

.pricing__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.pricing__header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.price__title {
    font-size: 52px;
    font-weight: 900;
    line-height: 1.5;
    margin: 16px 0;
    color: rgb(40, 50, 97);
    text-align: center;
}

.pricing__para {
   font-size: 18px;
   font-weight: 500;
   color:rgb(139, 144, 164);
   max-width: 576px;
   line-height: 1.625;
   text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
}


.basic__top,
.basic__middle,
.basic__bottom  {
   padding: 32px;
   border: 1.5px solid rgb(244, 243, 243);
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   background-color: white;
}

.basic__plan {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
}

.basic__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.basic__top {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.basic__name { 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}

.basic__price {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic__duration {
    font-size: 16px;
    font-weight: 700;
    color:cadetblue
}

.basic__target {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.plan__feature {
    font-size: 16px;
    color:rgb(118, 121, 133);
    margin-bottom: 24px;
}

.plan__feature:last-child {
    margin: 0px;
}

.basic__bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.basic__btn {
    color: #f7fafc;
    width: 100%;
    max-width: 192px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-weight: 700;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
}

.basic__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out; 
    cursor: pointer;
}

.business__plan {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
}

.business__top,
.business__middle,
.business__bottom 
 {
    padding: 32px;
    border: 1.5px solid rgb(244, 243, 243);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:rgb(88, 88, 241);
}

.business__top {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.business__name { 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    color: white;
}

.business__price {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.business__duration {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.business__target {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: white;
}

.business__plan--feature {
    font-size: 18px;
    margin-bottom: 24px;
    color: white;
    margin-bottom: 24px;
}

.business__plan--feature:last-child {
    margin: 0px;
}

.business__bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.business__btn {
    background-color: white;
    width: 100%;
    max-width: 192px;
    font-weight: 700;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
}

.business__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out; 
    cursor: pointer;
}

.enterprise__top,
.enterprise__middle,
.enterprise__bottom 
 {
    padding: 32px;
    border: 1.5px solid rgb(244, 243, 243);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
 }

.enterprise__plan {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
} 

.enterprise__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245,101,101) 0%, rgb(254,178,178) 100%);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.enterprise__top {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.enterprise__name { 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}

.enterprise__price {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enterprise__duration {
    font-size: 16px;
    font-weight: 700;
    color:cadetblue;
}

.enterprise__target {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.plan__feature {
    font-size: 18px;
    font-weight: 600;
    color:rgba(94, 104, 143, 0.678);
    margin-bottom: 24px;
}

.plan__feature:last-child {
    margin: 0px;
}

.enterprise__bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.enterprise__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245,101,101) 0%, rgb(254,178,178) 100%);
    width: 100%;
    max-width: 192px;
    font-weight: 700;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    letter-spacing: 1px;
}

.enterprise__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out; 
    cursor: pointer;
}

#pricing {
    position: relative;
}

.plans__blob {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0px;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}

/*

TESTIMONIALS

*/

.testimonial__container {
    padding: 96px 0;
}

.testimonial__row {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
}

.test__img--wrapper {
    width: 50%;
    display: flex;
}

.test__img {
    width: 100%;
}

.test__description {
    width: calc(50%);
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.test__label {
        color:#5e0df6;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.6px;

}

.test__title  {
    font-size: 48px;
    font-weight: 900;
    width: 100%;
    margin: 16px 0 24px 0;
    color: rgb(40, 50, 97);
}

.test__para {
    font-size: 18px;
    color:rgb(161, 162, 168);
    font-weight: 600;
    line-height: 1.625;
}

.test__stars i {
    color: #fabf2a;
    margin-top: 40px;
}

.review__title {
    font-size: 20px;
    margin-top: 16px;
    color:rgb(40, 50, 97);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.3px;
}

.review__para {
    font-size: 16px;
    font-weight: 500;
    color:rgba(39, 44, 74, 0.849);
    margin: 16px 0px 40px 0;
    line-height: 1.625;
}

.test__reviewer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
}

.reviewer__img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin-right: 16px;
}

.review__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reviewer__name {
    font-size: 20px;
    color:rgb(40, 50, 97)
}

.reviewer__title {
    color:rgb(126, 133, 163)
}

.review__button {
    border: none;
    padding: 18px;
    border-radius: 100%;
    margin: 8px;
}

.review__button i {
    color:#5e0df6;
}

.review__button:hover {
    background-color: rgba(192, 184, 184, 0.502);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button__line {
    display: flex;
    justify-content: center;
}

.arrow__line {
    opacity: 30%;
    margin: 24px 0;
}

/*

GET STARTED

*/

.start__container {
    padding: 96px 0;
}

#get__started {
    position: relative;
    padding:  0 32px;
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: translateX(-80px) translateY(128px) scaleX(1) scaleY(1);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(80px) translateY(-256px);
    width: 320px;
    height: 320px;
    z-index: 1;
    opacity: 0.5;
}

.start__row {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    position: relative;
    overflow:hidden;
}

.start__box {
    width: 100%;
    background-color:rgb(100, 28, 246);
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.start__contact--row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
}

.start__title {
    width: 50%;
    font-size: 32px;
    color: white;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.start__button {
    margin-right: 12px;
    width: auto;
    z-index: 2;
}

.start {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color:rgba(252, 104, 78, 0.877);
    padding: 24px 42px;
    border: none;
    border-radius: 50px;
    margin-right: 20px;
}

.start:hover {
    background-color: rgba(249, 81, 51, 0.893);
}

.contact {
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 24px 42px;
    border: 1px solid rgba(211, 211, 211, 0.562);
    border-radius: 50px;
    background-color:rgb(100, 28, 246);
    margin: 0 auto;
}

.contact:hover {
    color:#5e0df6;
    background-color: white;
}

/*

FOOTER

*/

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 50%;
    cursor: pointer;
}

#footer {
    position: relative;
    overflow: hidden;
    z-index: 3;
}

footer {
    padding: 96px 32px;
    background-color:#5e0df6;
    margin-bottom: -32px;
}

.footer__row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-165px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__column {
    z-index: 2;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -48px;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.column__title {
    font-size: 18px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.footer__rows {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.3;
    font-weight: 500;
    font-size: 16px;
}

.footer__container {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-right: 14px;
}


.footer__logo--title {
    font-size: 18px;
    font-weight: 900;
    color: white;
    width: 100%;
}

.footer__copyright {
    color:rgb(207, 208, 214)
}

.social__links {
    display: flex;
    justify-content: space-between;
}

.social__link {
    padding: 10px;
    background-color: white;
    margin-right: 16px;
    border-radius: 100%;
    position: relative;
    z-index: 3;
}

.social__link:hover {
    background-color:rgba(191, 193, 195, 0.9);
    cursor: pointer;
}

hr {
 opacity: 30%;
 width: 100%;
 height: 2px;
 margin: 64px 0;
}

/* LARGE LAPTOPS & MONITORS */

@media (max-width: 1440px) {


    .header__img--wrapper {
        display:flex;
        justify-content: flex-end;
    }

    .basic__btn,
    .business__btn,
    .enterprise__btn {
        max-width:none;
    }

    .test__description {
        width: calc(60%);
    }
}


/*  TABLETS, LAPTOPS */


@media (max-width: 1024px) {
    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }

    .header__row {
        flex-direction: column;
        align-items: center;
    }

    .header__description,
    .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }

    .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

    .header__description--title { 
        font-size: 30px;
    }

    .header__description--para {
        margin: 20px 0;
    }

    .header__customers {
        padding-right: 0;
    }

    .header__customers--title,
    .header__img--wrapper {
        margin-top: 48px;
    }

    .feature__description {
        max-width: none;
    }

    .feature__boxes {
        line-height: 1.8;
    }

    .features {
        max-width: 768px;
    }

    .feature {
        width: calc(50%);
    }

    .header__description--para,
    .feature__para,
    .quality__para,
    .value__para {
        font-size: 16px;
    }

    .quality__title {
        font-size: 36px;
        line-height: 1.25;
    }

    .quality__description {
        margin-right: 0px;
        padding-right: 48px;
    }

    .steps__title {
        font-size: 36px;
        line-height: 1.25;
    }

    .values__title {
            font-size: 36px;
            line-height: 1.25;
        }

    .values__list { 
        flex-direction: column;
        max-width: 320px;
    }

    .value {
        width: 320px;
        padding: 0;
    }

    .price__title {
        text-align: center;
    }
    
    .plans {
        flex-direction: column;
        align-items: center;
    }

    .pricing__para {
        font-size: 16px;
    }

    .basic__plan,
    .business__plan,
    .enterprise__plan { 
        margin-right: 0px;
    }
 
    .feature__title { 
        font-size: 48px;
        letter-spacing: 1.5px;
    }

    .basic__btn,
    .business__btn,
    .enterprise__btn {
        margin: 0 auto;
    }

    .test__img--wrapper {
        width: 41.50%;
    }

    .test__title {
        font-size: 36px;
    }

    .test__description {
        padding-left: 48px;
    }

    .test__para {
        font-size: 16px;
    }
    
    .start__box {
        padding: 96px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start__contact--row {
        flex-direction: column;
    }

    .start__buttons {
        width: auto;
        margin-top: 24px;
    }
    
    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
        margin-bottom: 24px;
    }

    .start__button {
        justify-content: center;
        align-items: center;
        max-width: calc(100% / 2);
    }

    .start,
    .contact {
        padding: 20px 34px;
    }

    footer {
        padding: 80px 32px;
    }

    .footer__rows {
        font-size: 14px;
    }

}

/* SMALL PHONES, TABLETS, LARGE SMART PHONES */

@media (max-width: 768px) {

    .header__description--title {
        font-size: 30px; 
        margin: 0 auto;
    }

    .feature__para {
        letter-spacing: normal;
        width: 90%;
    }


    .features {
        justify-content: center;
    }

    .feature {
        width: auto;
        max-width: 384px;
    }

    .quality__row,
    .values__row {
        flex-direction: column-reverse;
    }

    .quality__container {
        padding: 0px 130px;
    }

    .quality__img--wrapper,
    .quality__description {
        width: 100%;
        max-width: 448px;
    }

    .quality__img {
        width: 100%;
        height: auto;
    }

    .quality__description  {
        margin-top: 64px;
        text-align: center;
        align-items: center;
        padding: 0;
        width: 100%;
        max-width: 448px;
    }


    .quality__para {
        font-size: 15px;
    }

    .steps__row {
        flex-direction: column;
        align-items: center;
    }

    .step__container {
        width: 100%;
        max-width: 448px;
        margin-top: 64px;
        text-align: center;
        padding: 0px;
    }

    .steps__img--wrapper {
            width: 100%;
            max-width: 448px;
    }

    .steps__img {
        height: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }

    .step__description {
        margin-left: 0;
    }

    .values__img--wrapper {
        width: 100%;
        max-width: 448px;
    }

    .values__description {
        text-align: center;
        width: 100%;
        max-width: 448px;
        margin-top: 64px;
        padding: 0;
    }

    .values__title {
        width: 90%;
    }

    .value__para {
        font-size: 14px;
    }

    .values__list {
        margin: 0 auto;
    }

    .value__boxes { 
        align-items: center;
        justify-content: center;
    }

    .pricing__row {
        margin-top: 40px;
    }

    .pricing__header {
        align-items: center;
        justify-content: center;
        }

        .price__title { 
            width: 90%;
        }

        .pricing__para {
            width: 80%;
            font-size: 15px;
        }

        .pricing__container {
            margin-bottom: 0px;
        }

        .basic__btn,
        .business__btn,
        .enterprise__btn {
            max-width: none;
        }

        .testimonial__row {
            flex-direction: column;
            align-items: center;
        }

        .test__img--wrapper {
            width: 100%;
            max-width: 448px;
            padding-left: 0;
        }

        .test__description {
            width: 100%;
            max-width: 448px;
            padding-left: 0;
            margin-top: 64px; 
            text-align: center;
        }
        
        .arrow__line { 
            opacity: 40%;
            height: 24px;
        }

        .footer__columns {
            justify-content: flex-start;
        }  

        .footer__column {
            margin-top: 42px;
            width: calc(33.33333333%);
        }

        .footer__container {
            flex-direction: column;
            align-items: center;
        }

        .footer__copyright,
        .social__links {
            margin-top: 32px;
        }

        .social__links {
            margin-left: 0;
        }
        .footer__logo { 
            margin-right: 0;}
      

    }

    /* SMALL PHONES AND LARGE SMART PHONES */

@media (max-width: 550px) {

    .header__description--title {
        line-height: 1.25;
    }

    .header__container {
        padding: 80px 0px;
    }

    .header__email {
        flex-direction: column;
        height: auto;
        border: none;
        width: 100%;
        padding: 0;
    }

    .header__email--input {
        border: 2px solid rgba(227, 223, 223, 0.767);
        border-radius: 68px;
        padding: 5px 5px 5px 32px;
        height: 58px;
        margin-bottom: 16px;
    }

    .header__email:hover {
        border: none;
    }

    .header__email--input:hover {
        border: 2px solid rgba(154, 153, 153, 0.635);
        transition: all 300ms ease-in-out;
    }

    .feature__container {
        padding: 80px 0px;
    }

    .feature__title{
        font-size: 36px;
        letter-spacing: 1.25px;
        line-height: 1.25;
    }

    .feature__para {
        font-size: 14px;
    }

    .feature {
        display: block;
        padding: 32px 8px;
        margin: 0px 16px;
    }

    .feature__img {
        margin-left: 120px;
    }
    .feature__boxes {
        text-align: center;
        margin-left: 0;
    }

    .feature__description {
        margin-top: 0;
    }

    .quality__container {
        padding: 80px 0px;
    }

    .quality__img--wrapper {
        width: 100%;
        max-width: 448px;
    }

    .quality__img {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .quality__title {
        font-size: 30px;
        line-height: 1.25;
    }

    .quality__para {
        font-size: 14px;
    }

    .steps__container {
        padding: 80px 0px;
    }

    .step__container {
        margin-left: 0;
        padding-left: 0;
    }

    .steps__img--wrapper {
        width: 100%;
        max-width: 550px;
        padding-left: 0;
    }

    .steps__img {
        width: 100%;
        max-width: 450px;
        margin-top: 24px;
    }

    .steps__title {
        font-size: 30px;
        margin: 16px 0px 0px;
        line-height: 1.25;
    }

    .values__title {
        font-size: 30px;
        width: 100%;
    }

    .value__paras {
        width: 100%;
    }

    .pricing__container {
        padding: 80px 0px;
    }

    .price__title {
        font-size: 36px;
        text-align: center;
        line-height: 1.25;
    }

    .pricing__para {
        width: 100%;
    }

    .enterprise__bottom {
        background-color: white;
    }

    .testimonial__container {
        padding: 80px 0px;
    }

    .test__img {
        width: 100%;
    }

    .test__label {
        padding-bottom: 0;
    }

    .test__para {
        font-size: 14px;
    }

    .review__para {
        margin-bottom: 32px;
    }

    .test__title {
        font-size: 30px;
        margin-bottom: 24px;
        line-height: 1.25;
        font-weight: 900;
        letter-spacing: 1px;
    }

    .test__reviewer {
        display: block;
        align-content: center;
        padding-top: 4px;
    }

    .reviewer {
        flex-direction: column;
        align-items: center;
    }

    .review__img,
    .reviewer__img {
        height: 64px;
        width: 64px;
        margin-bottom: 16px;
    }

    .review__button {
        padding: 20px;
    }

    .arrow__line {
        width: 1px;
        height: 24px;
        background: rgb(161, 162, 168);
    }

    .start__container,
    .start__box { 
        padding: 80px 0px;
    }

    .start__title {
        font-size: 24px;
        margin-bottom: 0;
    }

    .start__buttons {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .start__button { 
        max-width: auto;
    }

    .start__button:nth-child(2) {
        margin-top: 16px;
    }

    .start,
    .contact {
        padding: 12px 24px;
        font-size: 14px;
        margin-right: 0px;
        line-height: 1.5;
    }

    .footer__columns {
        justify-content: center;
    }

    .footer__column {
        width: auto;
        text-align: center;
        align-items: center;
        padding: 0px 16px;
    }

    .footer__rows {
        text-align: center;
        align-items: center;
    }

    .footer__logo--title {
        font-size: 22px;
    }

    .footer__copyright {
        font-size: 14px;
        text-align: center;
        line-height: 1.25;
    }

}